[submodule "source/system"]
	path = source/system
	url = https://github.com/kohana/core
[submodule "source/modules/kohana/minion"]
	path = source/modules/kohana/minion
	url = git://github.com/kohana/minion.git
[submodule "source/modules/russpoutine/kohana-propel"]
	path = source/modules/russpoutine/kohana-propel
	url = git://github.com/russpoutine/kohana-propel.git
[submodule "source/modules/russpoutine/kohana-object-action"]
	path = source/modules/russpoutine/kohana-object-action
	url = git://github.com/russpoutine/kohana-object-action.git
[submodule "source/modules/russpoutine/kohana-elastica"]
	path = source/modules/russpoutine/kohana-elastica
	url = git://github.com/russpoutine/kohana-elastica.git
