[submodule "source/system"]
	path = source/system
	url = https://github.com/kohana/core
[submodule "source/modules/kohana/minion"]
	path = source/modules/kohana/minion
	url = git://github.com/kohana/minion.git
